<a href="https://colab.research.google.com/github/seungjoo612/brain-graph-classification/blob/main/data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#POSTECH Research Project: Graph Classification 
###과제연구 1: Graph Classicafication

This notebook contains strenous endeavors of a procrastinator to get her work done before the deadly embarkment of the final proposal due date..
##1.   Data Analysis
- Data will be imported and visualized through some means I hope..

##2.   Data Preprocessing
- Data will be proprocessed to make this whole process actually possible

##3.   GCN Implementation
- existing code with dataset will be tested than applied to own data

##4. GAT Implementation
- existing code with dataset will be tested than applied to own data

##5. GT Implementation
- existing code with dataset will be tested than applied to own data

##6. Visual Representations
- Resulting data will be visually identified.. if possible :(

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
# install StellarGraph if running on Google Colab
import sys
if 'google.colab' in sys.modules:
  %pip install -q stellargraph[demos]
  #==1.2.1

In [ ]:
import os
import pandas as pd
import numpy as np
import stellargraph as sg
from stellargraph.mapper import FullBatchNodeGenerator
from stellargraph.layer import GCN

from tensorflow.keras import layers, optimizers, losses, metrics, Model
from sklearn import preprocessing, model_selection
from IPython.display import display, HTML
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'stellargraph'

In [9]:
# Don't Need for now!
# verify that we're using the correct version of StellarGraph for this notebook
import stellargraph as sg

try:
    sg.utils.validate_notebook_version("1.2.1")
except AttributeError:
    raise ValueError(
        f"This notebook requires StellarGraph version 1.2.1, but a different version {sg.__version__} is installed.  Please see <https://github.com/stellargraph/stellargraph/issues/1172>."
    ) from None

In [21]:
import pandas as pd
import numpy as np

import stellargraph as sg
from stellargraph.mapper import PaddedGraphGenerator
from stellargraph.layer import GCNSupervisedGraphClassification
from stellargraph import StellarGraph

from stellargraph import datasets

from sklearn import model_selection
from IPython.display import display, HTML

from tensorflow.keras import Model
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.layers import Dense
from tensorflow.keras.losses import binary_crossentropy
from tensorflow.keras.callbacks import EarlyStopping
import tensorflow as tf
import matplotlib.pyplot as plt

In [44]:
#import data

dt_map = pd.read_excel('/content/drive/MyDrive/research_proj_data/DT_File_MAP.xlsx')
dTS = pd.read_csv('/content/drive/MyDrive/research_proj_data/[UNC]ADNI-network/DataTS.csv')
dataset = []
for i
test_f = open('/content/drive/MyDrive/research_proj_data/[UNC]ADNI-network/AD-Data/S100790_fdt_network_matrix', 'r')
t = np.loadtxt(test_f, dtype=int)
#test = np.fromfile('/content/drive/MyDrive/research_proj_data/[UNC]ADNI-network/AD-Data/S100790_fdt_network_matrix')

(148, 148)

In [13]:
dt_map

     Subject        PTID  VISCODE LABEL  ...  Node 145 Node 146  Node 147  Node 148
0    S177586  005_S_4910        3    AD  ...     1.733    1.574     1.838     1.457
1    S185876  005_S_4910        6    AD  ...     1.647    1.642     1.837     1.541
2    S177601  005_S_5038        0    AD  ...     2.215    2.112     2.066     1.830
3    S184500  005_S_5038        3    AD  ...     2.170    1.681     1.929     1.637
4    S191604  005_S_5038        6    AD  ...     2.224    2.103     2.014     1.788
..       ...         ...      ...   ...  ...       ...      ...       ...       ...
495  S155271  098_S_4506        3    CN  ...     2.007    2.226     2.202     2.314
496  S167381  098_S_4506        6    CN  ...     1.992    2.298     2.181     2.171
497  S197407  098_S_4506       12    CN  ...     1.995    2.333     2.185     2.097
498  S447003  098_S_4506       24    CN  ...     2.056    2.368     2.165     1.959
499  S206831  129_S_4371       24    CN  ...     1.970    1.954     2.020     1.987

[500 rows x 155 columns]

In [14]:
dTS

     subject        PTID  EXAMDATE.x  ...        PTMARRY CDRSB  MMSE
0    S156236  003_S_2374   5/16/2012  ...  Never married   0.5  29.0
1    S177586  005_S_4910  12/13/2012  ...        Married   NaN   NaN
2    S185876  005_S_4910    4/3/2013  ...        Married  10.0  19.0
3    S177601  005_S_5038  12/13/2012  ...        Married   5.0  25.0
4    S184500  005_S_5038   3/14/2013  ...        Married   NaN   NaN
..       ...         ...         ...  ...            ...   ...   ...
501  S167381  098_S_4506   9/12/2012  ...        Married   0.5  30.0
502  S197407  098_S_4506    8/2/2013  ...        Married   3.0  29.0
503  S447003  098_S_4506   3/14/2014  ...        Married   3.0  29.0
504  S141779  098_S_4506   2/24/2012  ...        Married   0.5  30.0
505  S206831  129_S_4371  11/26/2013  ...        Married   0.0  29.0

[506 rows x 14 columns]